.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

body {
  overflow-x: hidden;
}

#logo {
  width: 100%;
  height: 100%;
  position: relative;
  width: 275px;
  padding-left: 75px;
  height: 59px;
}

nav {
  top: 0px;
  left: 0px;
  height: 90px;
  background: #090909 0% 0% no-repeat padding-box;
}

.navbar-nav {
  padding: 0 75px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
}

.top-link {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #ffe49d !important;
}

.dropdown-link {
  color: #00244c;
  font-size: 15px;
}

.dropdown-link:hover {
  color: #ce9e4c;
}

.fa-caret-down:hover {
  color: #ce9e4c;
}
.dropdown-navigation-container {
  padding: 0px 90px;
  height: 50px;
}

.dropdown-main-container1 {
  top: 61px;
  left: -92px;
  border-radius: 0;
  width: calc(100vw - 16px);
  border-top: 1px solid lightgray;
  border-right: 1px solid white;
  padding: 30px 0;
  padding-left: 90px;
}

.dropdown-main-container2 {
  top: 61px;
  left: -191px;
  border-radius: 0;
  width: calc(100vw - 16px);
  border-top: 1px solid lightgray;
  border-right: 1px solid white;
  padding: 30px 0;
  padding-left: 90px;
}
.dropdown-main-container3 {
  top: 61px;
  left: -296px;
  border-radius: 0;
  width: calc(100vw - 16px);
  border-top: 1px solid lightgray;
  border-right: 1px solid white;
  padding: 30px 0;
  padding-left: 90px;
}
.dropdown-main-container4 {
  top: 61px;
  left: -470px;
  border-radius: 0;
  width: calc(100vw - 16px);
  border-top: 1px solid lightgray;
  border-right: 1px solid white;
  padding: 30px 0;
  padding-left: 90px;
}
.dropdown-main-container5 {
  top: 61px;
  left: -544px;
  border-radius: 0;
  width: calc(100vw - 16px);
  border-top: 1px solid lightgray;
  border-right: 1px solid white;
  padding: 30px 0;
  padding-left: 90px;
}
.font {
  font-size: 26px;
}

.dropdown-left-container {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

.dropdown-right-container {
  width: 20%;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  padding: 0 3%;
}

#nav-link .navlink a {
  text-align: center;
  display: flex;
  justify-content: center;
}

.dropdown-item .navlink a {
  text-align: center;
  display: flex;
  justify-content: center;
}
.dropdown-right-container a {
  display: flex;
  justify-content: center;
}

.dropdown-right-container span {
  border-bottom: 1px solid gray;
}

.language-dropdown {
  right: 0;
  left: auto;
  top: 87px;
}

#homepage-main {
  background: 
	  /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    /* bottom, image */ url("../images/homepage-main.png");
  background-repeat: no-repeat;
  padding-left: 75px;
  padding-top: 52px;
  padding-bottom: 52px;
  color: white;
  display: flex;
  justify-content: space-between;
}

#homepage-main-left {
  width: 45%;
}

.homepage-main-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 20px;
}

#homepage-main-right {
  width: 45%;
}

#comp-img-1 {
  width: 75%;
}

#comp-img-2 {
  margin-top: -121px;
}

#computer-bottom {
  background: transparent linear-gradient(90deg, #626264 0%, #b5b3b3 100%) 0% 0%
    no-repeat padding-box;
  width: initial;
  height: 35px;
  border-radius: 0px 0px 15px 15px;
  margin-top: -30px;
}

/* Bottom buttons */
.bottom-buttons {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin-top: 15px;
}

.right-button {
  min-width: 45%;
  min-height: 67px;
  background: #ffe49d 0% 0% no-repeat padding-box;
  font-size: larger;
  font-weight: bold;
  border-radius: 12px;
  border: none;
}
.right-button a {
  color: black;
}

#bonus-button {
  color: black;
  font-weight: bold;
  font-size: 20px;
  background: #ffe49d;
  border: none;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 2px;
  padding-bottom: 5px;
  transition: 0.5s ease-in-out;
  border: 1px solid transparent;
}
#bonus-button:hover {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.right-button:hover {
  background: transparent;
  border: 1px solid white;
}

.right-button a:hover {
  color: white;
}

.btn {
  font-size: larger;
  font-weight: bold;
}

.get-bonus-list li::before {
  content: counter(list) "";
  color: #fff;
  font-size: 32px;
  line-height: 1.9;
  left: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #ffe49d;
}

.get-bonus-list li {
  color: #fff;
  font-family: "Khula", sans-serif;
  counter-increment: list;
  padding: 10px 0 15px 100px;
  font-size: 21px;
  line-height: 3;
  color: #fff;
  position: relative;
  border-bottom: 2px solid #0d0d0d;
}
.get-bonus-list {
  font-family: "Khula", sans-serif;
  list-style: none;
  padding: 0;
}
.left-button {
  border: 2px solid #ffe49d;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 2px;
  padding-bottom: 5px;
  transition: 0.5s ease-in-out;
}
.left-button:hover {
  background-color: #ffe49d;
  color: #000;
}
.bonus-h3 {
  font-family: "Khula", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1;
}
.text-ffe49d {
  color: #ffe49d;
}
/* Dropdown Menu */
.language-menu {
  width: calc(-15px + 100vw);
  display: flex;
  padding: 0px 75px;
}

/* Custom Caret */
.dropdown-toggle::after {
  border: 1px solid #ce9e4c;
  border-width: 0 0 1px 1px;
  width: 8px;
  height: 8px;
  display: inline-block;
  line-height: 0;
  font-size: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 10px;
}

.color-secondry {
  color: #ffe49d;
}

.button-tick {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 12px;
  border-radius: 15px;
  border: none;
}

/* Bonus section css */
.get-bonus-img {
  max-width: 320px;
  height: 500px;
  border-radius: 20px solid #12131c;
}

.bonus-container {
  background-color: rgba(18, 19, 28, 1);
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}

/* Product offering section */

.product-offering-card {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  width: 92%;
}

.st-section {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.product-offering-box-content {
  padding: 20px 40px;
  background-color: #ffe49d;
  height: 100%;
}
.product-offering-card a:hover {
  text-decoration: none;
}

.product-offering-title {
  font-family: "Khula", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1.2;
}

.offer-image {
  width: 100%;
  height: 100%;
}
.product-offering-box-img {
  width: 100%;
  height: 226px;
  object-fit: cover;
  border-radius: 0;
  background-color: #555;
}

.bonus-h2 {
  font-family: "Khula", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1;
}

.delay1 {
  animation-delay: 0.9s;
}
.delay2 {
  animation-delay: 0.6s;
}
.delay3 {
  animation-delay: 0.3s;
}

/* Why Multibank */
.flex-center {
  display: flex;
  align-items: center;
  -ms-align-items: center;
  justify-content: center;
}

.bonus-h2 {
  font-family: "Khula", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 52px;
  line-height: 1;
}

.mex-m-b-50 {
  margin-bottom: 50px !important;
}

.why-multibank-list {
  display: flex;
  border-radius: 10px;
  border: 1px solid #ffe49d;
  overflow: hidden;
  margin-bottom: 25px;
  align-items: stretch;
}

.why-multibank-list:hover {
  box-shadow: 3px 0px 15px 0px #ffe49d;
}
.why-multibank-list-number {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  font-family: "Khula", sans-serif;
  font-size: 28px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #ffe49d;
  padding: 15px 13px 5px 10px;
  display: flex;
}

.why-multibank-list-txt {
  font-family: "Khula", sans-serif;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  padding: 10px 5px 5px 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: flex;
  align-content: center;
  align-items: center;
}

.why-multibank-section {
  background-image: url("../images/why_multibank_bg.jpg");
  padding-top: 0;
}

/* Partnerships */

.item-col1 {
  border-top-left-radius: 15px;
  min-height: 585px;
}

.item-col2 {
  min-height: 285px;
  margin-bottom: 12px;
}
.item-col2 img {
  min-height: 285px;
}
.item-col3 {
  min-height: 285px;
}
.item-col3 img {
  min-height: 285px;
}

.item-col4 {
  min-height: 185;
  margin-bottom: 12px;
  border-top-right-radius: 15px;
}
.item-col4 img {
  min-height: 185px;
  border-top-right-radius: 15px;
}
.item-col5 {
  min-height: 185px;
  margin-bottom: 12px;
}
.item-col5 img {
  min-height: 185px;
}
.item-col6 {
  min-height: 185px;
  border-bottom-right-radius: 15px;
}
.item-col6 img {
  min-height: 185px;
  border-bottom-right-radius: 15px;
}

.border-partnerships {
  border-radius: 15px 0px 0px 0px;
  overflow: hidden;
}

.partnerships-box-title {
  font-size: 1.8em;
}

.partnerships-box-content span {
  font-family: "Khula", sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
  position: absolute;
  opacity: 100;
  color: white;
}

.partnerships-box-content {
  position: relative;
  border: 2px solid #e4c37e;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnerships-box-content img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.partnerships-box-content img:hover {
  transform: scale(1.1);
}

/* Awards section */

.awards4 {
  background-image: url("../images/home_awards_bg.jpg");
  background-repeat: no-repeat;
}

.award-title {
  width: 100%;
  font-size: 16px;
  color: white;
  margin: 0 auto;
}

.award-desc {
  font-size: 13px;
  color: white;
  margin-bottom: 0px;
}
.award-year {
  font-size: 24px;
  color: white;
}
.award-container {
  width: 100%;
  padding: 0 10px 0 20px;
  border-right: 1px solid grey;
}

.award-container-wrapper {
  width: 30%;
}

.award-image {
  max-height: 130px;
  float: right;
  padding-right: 20px;
}
.font-24 {
  font-size: 24px !important;
}
.mex-content {
  font-size: 20px;
  line-height: 1.4;
  color: #222;
  font-weight: 400;
}
.award-title h2 {
  font-size: 70px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 26px;
  font-weight: bold;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev {
  left: 5px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
  background-size: contain;
  outline: none;
}

/* Contact Us */

.form-check-inline input {
  margin-bottom: 10px;
  margin-right: 5px;
}

.mex-img-cover {
  position: absolute;
  left: 0;
  top: 0;
}

.contact {
  background: transparent url("../images/international-space-station.png") 0% 0%
    no-repeat padding-box;
  background-size: cover;
}

.bonus-h2 {
  font-family: "Khula", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 52px;
  line-height: 1;
}
.mex-m-b-10 {
  margin-bottom: 10px !important;
}
.text-fff {
  color: #fff !important;
}
.mex-m-t-50 {
  margin-top: 50px !important;
}
#bonus25_footer_callback_form .btn-submit {
  font-family: "Khula", sans-serif;
  font-weight: 800;
  background-color: #203366;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 1.1;
  border: 2px solid #203366;
  text-transform: uppercase;
  padding: 15px 20px 10px 20px;
  display: inline-block;
  text-align: center;
}
.contact-left {
  background: #eceff6 0% 0% no-repeat padding-box;
}
.contact-right {
  background-color: whitesmoke;
  font-family: khula, sans-serif;
  padding: 50px 100px 50px 50px;
}
.contact-right .contact-title {
  padding-top: 50px;
}
.contact-left,
.contact-right {
  color: #203366;
  font-family: khula, sans-serif;
  padding: 50px 100px 50px 50px;
}
.contact span.contact-title {
  text-transform: uppercase;
  font-size: 26px;
  color: #203366;
}
.mex-m-b-10 {
  margin-bottom: 10px !important;
}
.cs-select-dropdown {
  background: transparent;
  padding: 0;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
  border: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  content: "";
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAMCAMAAABYzB2OAAAAYFBMVEXkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDyuZWeAAAAH3RSTlMAAQIGPEhQWGBiaWttc3V8fX6EiJKaoKOkxPn6/P3+AggEAQAAAFhJREFUeNp1zlcOgEAIBFDW3rD3wtz/lkbNRjTKF7wQGKKPqmM9+b1LHjZlwYyMiJWFCzqHtEUrWnN21hJBY/cvY0F1Xz2sAHL9myGQ9JluAMpXYDON9F87cGcFUSFcrdIAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  display: block;
  min-width: 170px;
}

#countryCode {
  background: transparent;
  padding: 0;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
  border: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  content: "";
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAMCAMAAABYzB2OAAAAYFBMVEXkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDkxIDyuZWeAAAAH3RSTlMAAQIGPEhQWGBiaWttc3V8fX6EiJKaoKOkxPn6/P3+AggEAQAAAFhJREFUeNp1zlcOgEAIBFDW3rD3wtz/lkbNRjTKF7wQGKKPqmM9+b1LHjZlwYyMiJWFCzqHtEUrWnN21hJBY/cvY0F1Xz2sAHL9myGQ9JluAMpXYDON9F87cGcFUSFcrdIAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  width: 23%;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}

#phone-number {
  width: 73%;
  border-bottom: 1px solid black;
  border: none;
  border-bottom: 1px solid;
  background: none;
  margin-left: 2%;
}

/* #social-buttons {
	display: flex;
	justify-content: start;
	width: 100%;
  } */

#social-buttons a {
  margin-right: 15px;
}

.contact h4.contact-title {
  text-transform: uppercase;
  font-size: 34px;
  color: #203366;
}
.contact .country-icon {
  margin: -3px 3px 0 -3px;
}
.contact a.contact-email,
.contact .contact-tnc a {
  color: #63acf9;
}
.contact h4.contact-title {
  text-transform: uppercase;
  font-size: 34px;
  color: #203366;
}
.mex-m-t-20 {
  margin-top: 20px !important;
}
.contact .btn-live-chat {
  text-transform: uppercase;
  font-size: 34px;
  color: #203366;
  font-family: khula, sans-serif;
  font-weight: 800;
  background-color: #203366;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  border: 2px solid #203366;
  text-transform: uppercase;
  padding: 20px 30px 15px;
  display: inline-block;
  text-align: center;
}
.contact .contact-text-box {
  color: #000;
  border-radius: 10px;
  border: 2px solid #203366;
  align-items: stretch;
  margin-bottom: 20px;
  padding: 10px 15px;
}

/* Footer Section */
.footer-section {
  background-color: #101010;
  padding: 60px 0;
}
.footer_map_content {
  border-top: 1px solid #273c50;
  padding: 30px 0 15px;
  margin: 10px 0 0;
  margin-bottom: 0px;
}
.footer ul {
  width: 100%;
  display: block;
  padding: 0;
}
.footer ul li {
  color: gray;
}
.footer_map li {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer ul li a {
  text-align: left;
  float: left;
  color: #63acf9;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  font-family: khula, sans-serif;
}
.footer_map li a {
  display: inline;
  line-height: 16px;
  text-align: left;
  padding: 0;
  margin: 0 0 20px;
}
.footer_map_title {
  font-size: 16px !important;
  font-weight: 700;
  line-height: 1 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #63acf9;
  font-family: khula, sans-serif;
  color: #fff !important;
  padding: 15px 0 10px !important;
  margin: 0 0 30px !important;
  text-transform: uppercase;
}

.footer-pa-section {
  background-color: #191919;
  padding: 40px 0 60px;
}

.footer-nav a {
  margin-left: 30px;
}

.footer_logo {
  margin-left: 40px;
}

/* Copywrite Disclamr Section */
.footer_pa {
  margin-top: 25px;
  text-align: left;
}

.footer_pa p {
  color: #8d8d8d;
  width: 100%;
  display: block;
  text-align: left;
  font-size: 16px;
  font-family: khula, sans-serif;
}

/* Media queries here */

@media all and (max-width: 992px) {
  #logo {
    padding-left: 40px;
  }
  nav {
    left: 0px;
    background: #090909 0% 0% no-repeat padding-box;
  }

  .navbar {
    padding: 0;
  }
  #navbarSupportedContent {
    background-color: rgba(0, 0, 0);
    z-index: 10000;
    position: absolute;
    top: 91px;
    width: 100%;
  }
  #dropdownNavbar {
    background-color: rgba(256, 256, 256);
    z-index: 10000;
    position: absolute;
    top: 91px;
    width: 100%;
    overflow-x: hidden;
  }

  #homepage-main {
    flex-direction: column;
    padding: 40px;
  }
  #homepage-main-left {
    width: 100%;
  }

  .homepage-main-list {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
  }

  #homepage-main-right {
    width: 100%;
    margin-top: 40px;
  }

  .bottom-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
  }

  #computer-bottom {
    background: transparent linear-gradient(90deg, #626264 0%, #b5b3b3 100%) 0%
      0% no-repeat padding-box;
    width: initial;
    height: 35px;
    border-radius: 0px 0px 15px 15px;
    margin-top: -30px;
  }

  #comp-img-1 {
    width: 100%;
  }

  #comp-img-2 {
    position: static;
    margin-top: -68px;
  }

  #home-page-main-list {
    padding: 0;
  }

  .mobile-screen-dropdown {
    position: relative;
    left: -40px;
  }

  #dropdownNavbar {
    overflow: visible;
  }

  .dropdown-main-container1 {
    top: 30px;
    left: -76px;
    border-radius: 0;
    display: none;
    position: absolute !important;
    border-top: 1px solid lightgray;
    border-right: 1px solid white;
    width: calc(100vw);
    padding: 10px 30px;
    justify-content: space-between;
  }

  .dropdown-main-container2 {
    top: 30px;
    left: -76px;
    border-radius: 0;
    display: none;
    position: absolute !important;
    border-top: 1px solid lightgray;
    border-right: 1px solid white;
    width: calc(100vw);
    padding: 10px 30px;
    justify-content: space-between;
  }
  .dropdown-main-container3 {
    top: 30px;
    left: -76px;
    border-radius: 0;
    display: none;
    position: absolute !important;
    border-top: 1px solid lightgray;
    border-right: 1px solid white;
    width: calc(100vw);
    padding: 10px 30px;
    justify-content: space-between;
  }
  .dropdown-main-container4 {
    top: 30px;
    left: -76px;
    border-radius: 0;
    display: none;
    position: absolute !important;
    border-top: 1px solid lightgray;
    border-right: 1px solid white;
    width: calc(100vw);
    padding: 10px 30px;
    justify-content: space-between;
  }
  .dropdown-main-container5 {
    top: 30px;
    left: -76px;
    border-radius: 0;
    display: none;
    position: absolute !important;
    border-top: 1px solid lightgray;
    border-right: 1px solid white;
    width: calc(100vw);
    padding: 10px 30px;
    justify-content: space-between;
  }

  .dropdown-right-container {
    width: 50%;
  }

  .dropdown-left-container {
    width: 50%;
  }

  .bonus-button {
    width: 100%;
  }

  .get-bonus-list li {
    line-height: 1.3;
  }

  .get-bonus-img {
    height: 400px !important;
  }

  .right-button {
    font-size: 18px;
    font-weight: bold;
  }

  .left-button {
    font-size: 15px;
    margin-right: 20px;
  }

  .bonus-h2 {
    font-size: 42px;
    line-height: 1;
  }
}

@media all and (max-width: 768px) {
  #homepage-main-left {
    width: 100%;
    text-align: left !important;
  }
  .bottom-buttons {
    margin-top: 28px;
  }
  #comp-img-2 {
    position: static;
    margin-top: -108px;
  }
  .bonus-container {
    min-height: 63vh;
  }
  .product-offering-title {
    font-size: 28px;
  }
  .bonus-h2 {
    font-size: 30px;
  }
  .bonus-h3 {
    font-size: 22px;
  }
  .get-bonus-list li {
    font-size: 20px;
  }
  .mobile-padding {
    padding: 0px 0px;
  }

  .product-offering-box-content {
    padding: 10px;
  }

  .item-col1 {
    border-top-left-radius: 0px;
    margin-bottom: initial;
    max-height: 400px;
    min-height: 400px;
    margin-bottom: 20px;
  }

  .item-col1 img {
    max-height: 400px;
    min-height: 400px;
  }

  .item-col2 {
    max-height: 195px;
    min-height: 195px;
    margin-bottom: 10px;
  }
  .item-col2 img {
    max-height: 195px;
    min-height: 195px;
  }
  .item-col3 {
    max-height: 195px;
    min-height: 195px;
    margin-bottom: 10px;
  }
  .item-col3 img {
    max-height: 195px;
    min-height: 195px;
  }

  .item-col4 {
    max-height: 127px;
    min-height: 127px;
    margin-bottom: 10px;
    border-top-right-radius: 0px;
  }
  .item-col4 img {
    max-height: 127px;
    min-height: 127px;
    border-top-right-radius: 0px;
  }
  .item-col5 {
    max-height: 127px;
    min-height: 127px;
    margin-bottom: 10px;
  }
  .item-col5 img {
    max-height: 127px;
    min-height: 127px;
  }
  .item-col6 {
    max-height: 127px;
    min-height: 127px;
    margin-bottom: 10px;
    border-bottom-right-radius: 0px;
  }
  .item-col6 img {
    max-height: 127px;
    min-height: 127px;
    border-bottom-right-radius: 0px;
  }

  .award-container-wrapper {
    width: 50%;
  }

  .footer-nav a {
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer_logo {
    margin-left: 0px;
  }
  .contact-left,
  .contact-right {
    color: #203366;
    font-family: khula, sans-serif;
    padding: 0;
  }

  .top-1 {
    font-size: 26px;
  }
  .top-2 {
    font-size: 40px !important;
  }
  .top-3 {
    font-size: 28px !important;
  }

  .bonus-h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .partnerships-h2 {
    font-size: 30px;
  }

  .btn-submit {
    width: 100%;
  }

  .mex-content > h2 {
    font-size: 40px;
  }
}

@media all and (max-width: 480px) {
  .mt-3 #bonus-button {
    width: 100%;
  }

  .bottom-buttons {
    display: flex;
	flex-direction: column;
  }
  .right-button-sm {
	margin-top: 15px;
	font-size: 15px !important;
  }
  .left-button{
	  margin-right: 0px;
  }
  .bonus-h2 {
    font-size: 30px;
  }

  .homepage-main-list > div > .fa {
    display: flex !important;
  }
  .homepage-main-list > div{
	  width:10%
  }
  .home-page-ul{
	  padding-left: 10px;
  }
  .item-col1 {
    border-top-left-radius: 0px;
    margin-bottom: initial;
    max-height: 250px;
    min-height: 250px;
    margin-bottom: 20px;
  }

  .item-col1 img {
    max-height: 250px;
    min-height: 250px;
  }

  .item-col2 {
    max-height: 250px;
    min-height: 250px;
    margin-bottom: 20px;
  }
  .item-col2 img {
    max-height: 250px;
    min-height: 250px;
  }
  .item-col3 {
    min-height: 250px;
    max-height: 250px;
    margin-bottom: 20px;
  }
  .item-col3 img {
    min-height: 250px;
    max-height: 250px;
  }

  .item-col4 {
    min-height: 250px;
    max-height: 250px;
    margin-bottom: 20px;
    border-top-right-radius: 0px;
  }
  .item-col4 img {
    min-height: 250px;
    max-height: 250px;
    border-top-right-radius: 0px;
  }
  .item-col5 {
    min-height: 250px;
    max-height: 250px;
    margin-bottom: 20px;
  }
  .item-col5 img {
    min-height: 250px;
    max-height: 250px;
  }
  .item-col6 {
    min-height: 250px;
    max-height: 250px;
    margin-bottom: 20px;
    border-bottom-right-radius: 0px;
  }
  .item-col6 img {
    min-height: 250px;
    max-height: 250px;
    border-bottom-right-radius: 0px;
  }

  .bonus-h3{
	  font-size: 16px;
  }
}
